body {
  background-color: #f5f5f5;
}
#form {
  height: 666px;
  width: 508px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  font-size: 12px;
}
#form h1 {
  color: #5d5fef;
  text-align: center;
  font-size: 48px;
}
#form h2 {
  color: #5d5fef;
  text-align: start;
  font-size: 20px;
}
#form button {
  padding: 10px;
  margin-top: 27px;
  width: 90%;
  color: white;
  background-color: #5d5fef;
  border: none;
  border-radius: 4px;
}

.input-control {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 428px;
  border-radius: 8px;
}

.input-control input {
  height: 50px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}
::placeholder {
  position: absolute;
  margin-left: 1px;
  margin-top: 2px;
}
.icon {
  position: absolute;
  margin-top: 15px;
  height: 10px;
  width: 10px;
  color: #5d5fef;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: blue;
  font-size: 9px;
  height: 13px;
}

.mainBorder {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.border {
  display: flex;
  border: 1px solid #dadada;
  border-radius: 5px;
  height: 50px;
  width: 141px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
label {
  font-size: 20px;
  text-align: center;
  color: #5d5fef;
}
#labelN {
  display: none;
}
.input-contro2 {
  display: none;
}
#country {
  height: 50px;
  width: 450px;
  margin-top: 10px;
  border-radius: 8px;
  border-color: #dadada;
}
